:root {
  --pig: #de6896;
  --yellow: #f0cc56;
  --purple-Soft: #e5dbfe;
  --purple: #4f3d9f;
  --black: #060012;
  --white: #fefefe;
}

* {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  background-color: #e5dbfe;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  place-items: center;
  box-shadow: 0 0 10px #646365;
  margin: 30px; 
}

#reset-button {
  background-color: #4f3d9f;
  color: var(--white);
  height: 50px;
  width: auto; 
  min-width: 100px; 
  border-radius: 20px;
  border-style: none;
  margin: 0 auto 30px; 
}

footer {
  display: grid;
  grid-template-rows: auto; 
  font-weight: 600;
  font-size: 1.5rem;
  place-items: end;
  margin: 0 30px;
}

textarea[name="user-input"] {
  background-color: var(--white);
  border-radius: 1rem;
  height: 100px;
  width: 90%; 
  max-width: 400px; 
  border-style: dashed;
  margin-top: 10px;
  margin-bottom: 20px; 
  margin-left: auto;
  margin-right: auto; 
}

ul {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px;
  justify-content: center; 
}

.count {
  border-radius: 1rem;
  color: var(--white);
  padding: 10px;
  height: 200px;
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  font-weight: 600;
}

.count1,
.count2,
.count3 {
  list-style-type: none; 
  border-radius: 1rem;
  color: var(--white);
  padding: 10px;
  height: 100px;
  width: 200px;
  font-size: 1.5rem;
  display: grid;
  justify-items: center;
  margin: 10px; 
}

.count1 {
  background: var(--yellow);
}

.count2 {
  background: var(--pig);
}

.count3 {
  background: var(--purple);
}

@media (max-width: 768px) {
  .count1,
  .count2,
  .count3 {
    height: 50px;
    font-size:15px;
    width: 100px;
  }
}
